@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f7f8;
  --foreground: #181C14;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0B3954;
    --foreground: #000000;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 1rem 3rem; 
  transition: .5s;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
